* {
  margin: 0;
  padding: 0;
}


#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #EFF5F9;
  flex-direction: column;
  color: #728C98;
}

#search {
  width: 500px;
  max-width: 90%;
  font-size: 30px;
  padding: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px #d9ebf7, inset -5px -5px 10px #fbfdff;
  transition: all 0.2s ease-in-out;
  background-color: #EFF5F9;
  outline: none;
  color: #728C98;
}

#search:focus {
  box-shadow: inset 1px 1px 2px #cee5f5, inset -1px -1px 2px #FFF;
}

#datasource {
  background: #ffffff;
  width: 500px;
  max-width: 90%;
  max-height: 75vh;
  margin-top: 30px;
  overflow: auto;
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 2rem 2rem 8rem rgba(78, 134, 165, 0.09), 1rem 1rem 4rem rgba(78, 134, 165, 0.09), inset 4rem 4rem 10rem rgba(78, 134, 165, 0.05);
  transition: all 0.3s ease-in-out;
}

#datasource p {
  padding: 16px;
  transition: .3s ease-in-out;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#datasource p:hover {
  background: #e8f3f9;
}

.tips{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  max-width: 90%;
}
